
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');





html,body {
  padding: 0;
  margin: 0;
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  background: #fff;
  overflow-x: hidden;
}




.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



.ftr {
  background-color: #000000;
  margin-top: auto;
}

.hsec {
  background-color: #efefef;
  padding: 100px;
}

.circ {
height: 250px;
width: 250px;
  border-radius: 50%;
}


.heading {
  background:#d4ae01;
  color:black;
  padding:12px;
  font-size:20px;
  font-weight:700;
}

.iconbg {
  background-color:#d4ae01 ;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 30px;
}

.iconbg2 {
  background-color:#d4ae01 ;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    border-radius: 50%;
}

.lispc > li {
  padding-bottom: 10px;
}


.respvideo {
  width: 100%;
  height: auto;
}